<footer>
    <div class="main-footer">
        <div>
            <h4 class="Logo"> LOGO </h4>
            <p class="hehe">  </p>
        </div>
        <div>
            <h6> Links </h6>
            <div class="col">
                <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <p id="Copyright">
            &star; &#9734; DILSHAD The Developer &copy; <script> document.write(new Date().getFullYear()) </script> &#9734; &star;
        </p>
    </div>
</footer>